@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    overflow: hidden;
}
.gameContainer{
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    position: relative;
}
.heading{
    position: relative;
    top: 63px;
    font-size: 40px;
    text-align: center;
}
.gameOver{
    position: relative;
    top: 48px;
    font-size: 30px;
    text-align: center;
    visibility: hidden;
}
.dino{
    background: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 115px;
    position: absolute;
    bottom: 0;
    left: 55px;
}
#scoreCont{
    position: absolute;
    top: 35px;
    right: 50px;
    border: 2px solid black;
    padding: 10px;
    width: 120px;
    font-weight: bold;
}
.obstacle{
    background: url(dragon.png);
    background-size: cover;
    width: 180px;
    height: 122px;
    position: absolute;
    bottom: 0;
    left: 44vw;
}
.obstacleAni{
    animation: obstacleAni 5s linear infinite; 
}
.animateDino{
    animation: dino 0.6s linear;
}
@keyframes dino{
    0%{
        bottom: 0px;
    }
    50%{
        bottom: 400px;
    }
    100%{
        bottom: 0px;
    }
}
@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}